:root {
  --nord0: #2e3440;
  --nord1: #3b4252;
  --nord2: #434c5e;
  --nord3: #4c566a;
  --nord4: #d8dee9;
  --nord5: #e5e9f0;
  --nord6: #eceff4;
  --nord7: #8fbcbb;
  --nord8: #88c0d0;
  --nord9: #81a1c1;
  --nord10: #5e81ac;
  --nord11: #bf616a;
  --nord12: #d08770;
  --nord13: #ebcb8b;
  --nord14: #a3be8c;
  --nord15: #b48ead;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  line-height:1.4;
  font-family:'Consolas','BitstreamVeraSansMono','CourierNew',Courier,monospace;
}

body {
  min-height: 100vh;
}

div, main, body {
  color: var(--nord4);
  background: var(--nord0);
}

main {
  padding: 1rem;
}

nav {
  font-color: var(--nord4);
  font-size: 0;
  padding: 0 0 0 .5rem;
  background-color: var(--nord1);
  height: 2rem;

  & button {
    padding: 0 .25rem;
    height: 1.5rem;
    background-color: var(--nord1);
    border-radius: .25rem .25rem 0 0;
    border: .1rem solid var(--nord1);
    margin: 0;
    margin-top: .5rem;
    color: var(--nord4);

    &.selected, &:hover {
      background-color: var(--nord0);
      border: .1rem solid var(--nord0);
    }
  }

  .firebaseui-container {
    /*float: right;*/
    display: inline-block;
    width: fit-content;
    margin: 0;
    padding: 0;
    background: transparent;


    .firebaseui-card-content, form, .firebaseui-idp-list, .firebaseui-list-item {
      background: transparent;
    }
    .firebaseui-idp-icon {
      height: .5rem;
      padding-right: .25rem;
    }
    .firebaseui-idp-text-long {
      display: none;
    }
    .firebaseui-idp-button {
      padding: 0 .25rem;
      height: 1.5rem;
      background-color: var(--nord1) !important;
      border-radius: .25rem .25rem 0 0;
      border: .1rem solid var(--nord1);
      margin: 0;
      margin-top: .5rem;
      color: var(--nord4);

      &:hover {
        background-color: var(--nord0) !important;
        border: .1rem solid var(--nord0);
      }
    }
  }
}

h1 {
  font-size: 1rem;
  color: var(--nord4);
}

.projects {
  position: relative;
  width: fit-content;
  text-align: center;
  margin-left: var(--margin-left);

  & h3 {
    margin: 2rem 0;
  }

  & ul:before{
    content: '';
    position: absolute;
    display: block;
    height: calc(100% - 3rem);
    width: .1rem;
    left: 50%;
    top: 1.5rem;
    background-color: var(--nord4);
  }

 & ul {
    list-style-type: none;
    width: fit-content;
    display: grid;
    gap: 2rem;
    
    grid-auto-flow: row;
    grid-auto-columns: 1fr;
    grid-tremplate-columns: 1fr;

    & li {
      z-index:1;
      width: 100%;
      grid-column:  auto;
    }

    & .card{
      text-align:center;

      & .bottom, .top {
        border: solid var(--nord4) .1rem;
        max-width: 400px;
      }

      & .middle {
        border: solid var(--nord4);
        border-width: 0 .1rem;
        max-width: 400px;
      }
    }
  } 
}


.education {
  & fieldset {
    border-width: 0.5rem 0 0 0;
    border-style: solid;
    border-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8' standalone='no'%3F%3E%3C!-- Created with Inkscape (http://www.inkscape.org/) --%3E%3Csvg xmlns:dc='http://purl.org/dc/elrements/1.1/' xmlns:cc='http://creativecommons.org/ns%23' xmlns:rdf='http://www.w3.org/1999/02/22-rdf-syntax-ns%23' xmlns:svg='http://www.w3.org/2000/svg' xmlns='http://www.w3.org/2000/svg' version='1.1' width='32.275391' height='30.46875' id='svg3033' fill='%23d8dee9'%3E%3Cmetadata id='metadata3041'%3E%3Crdf:RDF%3E%3Ccc:Work rdf:about=''%3E%3Cdc:format%3Eimage/svg+xml%3C/dc:format%3E%3Cdc:type rdf:resource='http://purl.org/dc/dcmitype/StillImage' /%3E%3Cdc:title%3E%3C/dc:title%3E%3C/cc:Work%3E%3C/rdf:RDF%3E%3C/metadata%3E%3Cdefs id='defs3039' /%3E%3Cg id='g3065'%3E%3Cg id='text3035' style='font-size:100px;font-family:arial'%3E%3Cpath d='M 0,14.355469 2.2460938,7.421875 C 7.4218645,9.2448552 11.181626,10.82363 13.525391,12.158203 12.906885,6.2663426 12.581365,2.2136123 12.548828,0 l 7.080078,0 c -0.09768,3.2227258 -0.472027,7.2591801 -1.123047,12.109375 3.35284,-1.692646 7.193982,-3.2551444 11.523438,-4.6875 l 2.246094,6.933594 c -4.134146,1.367244 -8.186877,2.278702 -12.158204,2.734375 1.985652,1.725314 4.785129,4.801483 8.398438,9.228515 L 22.65625,30.46875 C 20.768205,27.89718 18.53839,24.397835 15.966797,19.970703 13.557926,24.560595 11.442043,28.059941 9.6191406,30.46875 L 3.8574219,26.318359 C 7.6334528,21.663463 10.335273,18.587294 11.962891,17.089844 7.763661,16.276098 3.7760348,15.364641 0,14.355469' id='path3063' style='font-size:100px;font-family:arial' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E")  100% 0 0 0 / .5rem 0 space;

    & legend {
      text-align: center; 
      padding: 0 .25rem;
      color: var(--nord4); 
    } 

    & div {
      width: 100%;
    
      & ul {
        margin-left: calc(var(--margin-left) + 1rem);
        list-style-type: "- ";
        max-width: 650px;
      }
      & p {
        margin-left: var(--margin-left);
      }
    }
  }
}

form {
  & fieldset {
    max-width: fit-content;
    margin: 0;
    padding: 0;
    background: var(--nord0);
    border: 2px solid var(--nord4);


    > legend {
      margin: 0 0 -.5rem 1rem;
      padding: 0 .25rem;
      color: var(--nord4); 
    }

    > input,
    > output,
    > select,
    > textarea {
      color: var(--nord4);
      padding: .5rem;
      border: none;
      background: transparent;
    }
    
    & textarea {
      width: 90vw;
    }

    > input:focus,
    > output:focus,
    > select:focus,
    > textarea:focus {
      outline: none;
    }

    &:focus-within {
      border: 3px solid var(--nord4);
    }
  }

  & button {
    color: var(--nord4);
    padding: .5rem;
    background: var(--nord0);
    border: 2px solid var(--nord4);

    &:focus {
      border: 3px solid var(--nord4);
    }
  }
}

.neofetch{
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;

  & .ascii {
    & p{
      text-wrap: nowrap;
      white-space-collapse: preserve-spaces;
    }
  }

  & .data {
    & a:link, a:visited, a:hover, a:active {
      color: var(--nord6);
    }
  }
}

@media screen and (min-width: 1150px) {
  * {
    --margin-left: 30rem;
  }
}


@media all and (max-width: 1150px) {
  .neofetch {
    flex-direction: column-reverse;
    justify-content: flex-end;
  }

  * {
    --margin-left: 5rem;
  } 
}

@media all and (max-width: 800px) {
  .ascii p
  {
    line-height: 0.7;  
    font-size: .5rem;
  }
}
@media all and (max-width: 500px) {

  * {
    --margin-left: 0;
  }
}
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: var(--nord1);
}
 
::-webkit-scrollbar-thumb {
  background-color: var(--nord4);
  border-radius: 3px;
}

::-webkit-scrollbar-corner {
  background-color: var(--nord0);
}